<tr>
        <th scope="col">Nom du Major</th>
        <th scope="col">Lieu</th>
        <th scope="col">Date de début</th>
        <th scope="col">Date de fin</th>
        <th scope="col">Nombres D'équipes</th>
        <th scope="col">Prize</th>
        <th scope="col">Résultat</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">PGL Major Stockholm 2021</th>
      <td> Stockholm </td>
      <td>26 Octobre 2021</td>
      <td>7 Novembre 2021</td>
      <td>24</td>
      <td>2 000 000 $</td>
      <td>NAVI</td>
    </tr>
  <tr>
      <th scope="row">StarLadder Berlin Major 2019</th>
      <td> Berlin </td>
      <td>26 Août 2019</td>
      <td>8 Septembre 2019</td>
      <td>24</td>
      <td>1 000 000 $</td>
      <td>Astralis</td>
    </tr>
  <tr>
      <th scope="row">Intel Extreme Masters XIII - Katowice Major 2019</th>
      <td> Katowice </td>
      <td>13 Février 2019</td>
      <td>3 Mars 2019</td>
      <td>24</td>
      <td>1 000 000 $</td>
      <td>Astralis</td>
    </tr>
  <tr>
      <th scope="row">FACEIT Major: London 2018</th>
      <td> London </td>
      <td>5 Septembre 2018</td>
      <td>23 Septembre 2018</td>
      <td>24</td>
      <td>1 000 000 $</td>
      <td>Astralis</td>
    </tr>
  <tr>
      <th scope="row"> ELEAGUE Major: Boston 2018</th>
      <td> Boston, Atlanta </td>
      <td>12 Janvier 2018</td>
      <td>28 Janvier 2018</td>
      <td>23</td>
      <td>1 000 000 $</td>
      <td>Coud9</td>
    </tr>

  <tr>
      <th scope="row">PGL Major Kraków 2017</th>
      <td> Kraków </td>
      <td>16 Juillet 2017</td>
      <td>23 Juillet 2017</td>
      <td>16</td>
      <td>1 000 000 $</td>
      <td>Gambit</td>
    </tr>
  <tr>
      <th scope="row">ELEAGUE Major: Atlanta 2017</th>
      <td> Atlanta </td>
      <td>22 Janvier 2017</td>
      <td>29 Janvier 2017</td>
      <td>16</td>
      <td>1 000 000 $</td>
      <td>Astralis</td>
    </tr>
  <tr>
      <th scope="row">ESL One: Cologne 2016</th>
      <td> Cologne </td>
      <td>5 Juillet 2016</td>
      <td>10 Juillet 2016</td>
      <td>16</td>
      <td>1 000 000 $</td>
      <td>SK Gaming</td>
    </tr>
  <tr>
      <th scope="row">MLG Major Championship: Columbus 2016</th>
      <td> Colombus </td>
      <td>29 Mars 2016</td>
      <td>3 Avril 2016</td>
      <td>16</td>
      <td>1 000 000 $</td>
      <td>Luminosity Gaming</td>
    </tr>
  <tr>
      <th scope="row">DreamHack Open Cluj-Napoca 2015</th>
      <td> Clug-Napoca </td>
      <td>28 Octobre 2015</td>
      <td>1 Novembre 2015</td>
      <td>16</td>
      <td> 250 000 $</td>
      <td>Envy</td>
    </tr>
  <tr>
      <th scope="row">ESL One: Cologne 2015</th>
      <td> Cologne </td>
      <td>20 Août 2015</td>
      <td>23 Août 2015</td>
      <td>16</td>
      <td> 250 000 $</td>
      <td>Fnatic</td>
    </tr>
  <tr>
      <th scope="row">ESL One: Katowice 2015</th>
      <td> Katowice </td>
      <td>12 Mars 2015</td>
      <td>15 Mars 2015</td>
      <td>16</td>
      <td> 250 000 $</td>
      <td>Fnatic</td>
    </tr>
  <tr>
      <th scope="row">DreamHack Winter 2014</th>
      <td> Jönköping </td>
      <td>27 Novembre 2014</td>
      <td>29 Novembre 2014</td>
      <td>16</td>
      <td> 250 000 $</td>
      <td>LDLC</td>
    </tr>
  <tr>
      <th scope="row">ESL One: Cologne 2014</th>
      <td> Cologne </td>
      <td>14 Août 2014</td>
      <td>17 Août 2014</td>
      <td>16</td>
      <td> 250 000 $</td>
      <td>NIP</td>
    </tr>
  <tr>
      <th scope="row">ESL Major Series One Katowice 2014</th>
      <td> Katowice </td>
      <td>13 Mars 2014</td>
      <td>16 Mars 2014</td>
      <td>16</td>
      <td> 250 000 $</td>
      <td>Virtus Pro</td>
    </tr>
  <tr>
      <th scope="row">DreamHack Winter 2013</th>
      <td> Jönköping </td>
      <td>28 Octobre 2013</td>
      <td>30 Novembre 2013</td>
      <td>16</td>
      <td> 250 000 $</td>
      <td>Fnatic</td>
    </tr>

  </tbody>
</table>