<!DOCTYPE html>
<html lang=fr>
<head>
    <meta charset="UTF-8">
    <title>mon formulaire</title>
</head>
<body>
        {% if id != None %}
            <h1> Modifier les informations du MVP --{{id}}--</h1>
            <form action="/csgo/updatetraitementmajor/{{id}}/" method="POST"/>
        {% else %}
            <h1> Saisie d'un nouveau MVP </h1>
            <form action="/csgo/traitementmajor/" method="POST">
        {% endif %}

        {% csrf_token %}
        {{ form.as_ul }}
            <input type="submit" value="Ajouter le MVP"\>
    </form>
</body>
</html>